@use "mixins";

@keyframes izquierda {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes derecha {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.iconos{
    @include mixins.flex(null, null, center, null);    
    gap: 8px;  
}

.iconos img {
    width: 20px;
    height: 20px;
}

.custom-bg {
    background-color: #f5f0e6;   
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem; 
    justify-content: flex-end;   
}
.sectionBannerPrincipal{ 
    width: 100%;    
    height: auto;    
    display: block;   
}

.carrusel img {
    width: 100%; 
    height: 300px;
    display: flex;   
}


.imgProductos img {
    width: 100%;   
    height: 400px;
    transition: transform 0.3s ease;
  
}

.imgProductos img:hover {
  transform: scale(1.1);
}

.imgProductos {
    @include mixins.flex(row, center, null, wrap, null);
    margin-bottom: 50px;
}

.comprar {
    color:black;
    text-decoration: none;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d96a4d;
    @include mixins.flex(null, center, center, null, null);
    margin-left: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;  
    height: 50px;
    transform: scale (1.1);
}

.comprar:hover {
    transform: scale(1.1);
    background-color: green;
}

article {
    border: solid 3px rgb(101, 67, 33);
    border-radius: 5px;
    margin: 10px;
    width: 30%;
    background-color: white;
}

.articleProductos {
    border: solid 3px rgb(101, 67, 33);
    border-radius: 5px;
    margin: 10px;
    width: 30%;
    background-color: white;
    &:nth-child(odd) {
        animation: izquierda 2s ease forwards;
    }
    
    &:nth-child(even) {
        animation: derecha 2s ease forwards;
    }
}

.inputFormulario {
    background-color: rgb(179, 175, 175);
    width: 400px;
}

#mensaje {
    width: 400px;
    height: 400px;
    margin: 2.5px;
}

.botonEnviar {
    width: 100px;
    height: 50px;
    font-weight: bold;
    background-color:grey;
    color: white;
    justify-items: center;
}

.carrito {
    width: 50px;
    grid-area: carrito;
    margin-left: 94%;
    margin-top: 5px;
}

.carritoVacio img{
    width: 100px;
    height: auto;
    display: flex;
    margin-bottom: 50px;
}

.carritoVacio button {
    display: flex;
    margin-right: 150px;
    margin-bottom: 300px;
}

.carritoVacio {
    @include mixins.flex(column, space-between, center, wrap, null);
    margin-top: 50px;
    justify-content:space-between;
}
